@tailwind base;
@tailwind components;
@tailwind utilities;

* {
}

.ant-steps-item-content {
  display: flex !important;
  flex-direction: column-reverse !important;
  gap: 4px !important;
  margin-bottom: 7px !important;
}

.ant-steps-item-description {
  padding-bottom: 0px !important;
}

.ant-steps-item-title {
  line-height: 20px !important;
  color: black !important;
}
